body{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
}
.side-text{
    text-align: left;
    color:azure;
    font-style: italic;
    font-size: 20px;
}
.side-2{
    text-align: left;
    color:azure;
    font-style: italic;
    font-size: 20px;
    margin-top: -25px;
}
.header{
    text-align: center;
    color:white;
    font-size:25px;
}
h1{
    color:yellow;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 70px;
}
em{
    font-size: 70px;
}
h2{
  color:white;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-top: -25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    color:white;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
figcaption{
    text-align:center ;
    color:yellow;
    font-size: 25px;
}
.info{
    color:white;
    font-size:17px;
  }
  hr {
    height: 3px;
    background-color: rgb(223, 204, 204);
    border-color: rgb(223, 204, 204);
  }
footer{
    text-align:center ;
    font-size: 20px;
}
  a {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }
