<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="hyy" ng-controller="cntrl">
            <p>Enter First name:</p>
            <input type="text" ng-model="FN"/>
            <p>Enter last name:</p>
            <input type="text" ng-model="LN"/>
            <h1>{{FN+" "+LN}}</h1>

        </div>
        <script type="text/javascript">
            var a=angular.module('hyy',[]);
            a.controller('cntrl',function($scope){
                $scope.FN="watt";
                $scope.LN="ntn";
            });
        </script>
    </body>
</html>